* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(./pens.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 420px;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.personal-data {
    width: 110vh;
    display: flex;
    justify-content: space-between;
}

.surname {
    text-align: left;
    margin-top: 11em;
}

h1 {
    font-size: 2.4em;
    font: bold;
    color: #FFFFFF;
    opacity: 1;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2 {
    font-size: 1.6em;
    font: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-bottom: 0.4em;
}

.right-side {
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links a {
    border: solid white 2px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links img {
    width: 25px;
    height: 25px;
}

.picture {
    background-image: url(./photo.JPG);
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: white solid 3px;
    background-size: cover;
    margin-top: 9em;
}

.top-section {
    height: 200px;
    background: #F4F4F4 0% 0%;
    opacity: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: 1.1em;
    width: 110vh;
    color: #000000;
    opacity: 1;
}

.description img {
    width: 50px;
}

.tech {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-title {
    font-size: 1.7em;
    font-weight: 200;
    color: white;
    background-color: #F6BC00;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
}

@media (min-width: 1024px) {
    .mobile-section-title {
        display: none;
    }
}

.projects {
    height: 1000px;
    background: #F4F4F4 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.additional-grey {
    height: 180px;
    background: #F4F4F4 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.posts {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    height: 80%;
    width: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: start;
}

.post p {
    font-size: 1em;
    text-align: left;
    padding-top: 1em;
}

.post a {
    color: #FA382F;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-direction: column;
    padding-bottom: 0.5vh;
}

.additional-white {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.add-section-title {
    font-size: 1.5em;
    font: bold;
    color: #FA382F;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.add-links {
    padding: 2px;
}

.add-links p {
    font-size: 1em;
    text-align: left;
}

.add-links a {
    color: #FA382F;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.skills {
    height: 380px;
    background: #F4F4F4 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.skillset {
    height: 22vh;
    width: 110vh;
    display: flex;
    align-items: center;
}

.skillset .skills-group-1 {
    width: 33%;
    height: 100%;
    text-align: center;
}

.skillset .skills-group-2 {
    width: 33%;
    height: 100%;
    text-align: center;
}

.skillset .skills-group-3 {
    width: 33%;
    height: 100%;
    text-align: center;
}

.new-skills-group {
    font-size: 1.1em;
    padding: 4px;
    text-align: center;
}

.big-links {
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.social-media {
    width: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    border: solid #FA382F 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.social-media img {
    width: 60px;
    height: 60px;
}


/* .social-media-names {
    width: 63vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.social-media-names a {
    color: #FA382F;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
} */

.contact {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(./pens.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contact-title {
    font-size: 1.7em;
    font: bold;
    color: white;
}

p {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.2em;
    padding-bottom: 10px;
}


/* RESPONSIVNESS */

@media (min-width: 801px) and (max-width: 1024px) {
    header {
        background-image: url(./1024.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 340px;
        padding: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .personal-data {
        width: 90vh;
        display: flex;
        justify-content: space-between;
    }
    .surname {
        text-align: left;
        margin-top: 6em;
    }
    .picture {
        background-image: url(./photo.JPG);
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: white solid 3px;
        background-size: cover;
        margin-top: 7em;
    }
    .section-title {
        font-size: 1.5em;
    }
    .top-section {
        height: 250px;
    }
    .description {
        text-align: center;
        font-size: 1em;
        width: 90vh;
        color: #000000;
        opacity: 1;
    }
    .tech {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .projects {
        height: 900px;
        background: #F4F4F4 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .additional-grey {
        display: none;
    }
    .posts {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        height: 80%;
        width: 90vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .post {
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .additional-white {
        display: none;
    }
    .skills {
        height: 380px;
        background: #F4F4F4 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skillset {
        height: 170px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .skillset .skills-group-1 {
        width: 33%;
        height: 100%;
        text-align: center;
    }
    .skillset .skills-group-2 {
        width: 33%;
        height: 100%;
        text-align: center;
    }
    .skillset .skills-group-3 {
        width: 33%;
        height: 100%;
        text-align: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(./1024.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .contact-title {
        font-size: 1.5em;
        font: bold;
        color: white;
    }
}


/* MIDI */

@media (min-width: 668px) and (max-width: 800px) {
    header {
        background-image: url(./1024.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 340px;
        padding: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .personal-data {
        width: 70vh;
        display: flex;
        justify-content: space-between;
    }
    .surname {
        text-align: left;
        margin-top: 5em;
    }
    .picture {
        background-image: url(./photo.JPG);
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: white solid 3px;
        background-size: cover;
        margin-top: 7em;
    }
    .section-title {
        font-size: 1.5em;
    }
    .top-section {
        height: 200px;
    }
    .description {
        text-align: center;
        font-size: 1em;
        width: 70vh;
        color: #000000;
        opacity: 1;
    }
    .tech {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .projects {
        display: none;
    }
    .additional-grey {
        height: 250px;
        background: #F4F4F4 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .add-section-title {
        display: none;
    }
    .mobile-section-title {
        font-size: 1.5em;
        font: bold;
        color: white;
        background-color: #F6BC00;
        padding-top: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
    }
    .posts {
        display: none;
    }
    .additional-white {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills {
        height: 480px;
        background: #F4F4F4 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skillset {
        width: 80vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .skillset .skills-group-1 {
        width: 48%;
        height: 50%;
        text-align: center;
    }
    .skillset .skills-group-2 {
        width: 48%;
        height: 50%;
        text-align: center;
    }
    .skillset .skills-group-3 {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .new-skills-group {
        font-size: 1em;
        padding-top: 2em;
    }
    .big-links {
        height: 270px;
    }
    .social-media a {
        width: 90px;
        height: 90px;
    }
    .social-media img {
        width: 50px;
        height: 50px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(./1024.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .contact-title {
        font-size: 1.5em;
        font: bold;
        color: white;
    }
}


/* BIG SMARTPHONES */

@media (min-width: 376px) and (max-width: 667px) {
    header {
        background-image: url(./pens667.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        padding: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    h1 {
        font-size: 2em;
        font: bold;
        color: #FFFFFF;
        opacity: 1;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    h2 {
        font-size: 1.3em;
        font: bold;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-bottom: 0.4em;
    }
    .personal-data {
        width: 60vh;
        display: flex;
        justify-content: space-between;
    }
    .surname {
        width: 50%;
        text-align: left;
        margin-top: 3.3em;
    }
    .picture {
        background-image: url(./photo.JPG);
        height: 160px;
        width: 160px;
        border-radius: 50%;
        border: white solid 3px;
        background-size: cover;
        margin-top: 5em;
    }
    .top-section {
        height: 230px;
    }
    .section-title {
        font-size: 1.5em;
    }
    .description {
        width: 60vh;
        text-align: center;
        font-size: 1em;
        width: 50vh;
        color: #000000;
        opacity: 1;
    }
    .description img {
        width: 9%;
    }
    .tech {
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .projects {
        display: none;
    }
    .add-section-title {
        display: none;
    }
    .mobile-section-title {
        font-size: 1.5em;
        font: bold;
        color: white;
        background-color: #F6BC00;
        padding-top: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
    }
    .additional-grey {
        height: 260px;
        background: #F4F4F4 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .posts {
        display: none;
    }
    .additional-white {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills {
        height: 420px;
        background: #F4F4F4 0% 0% no-repeat padding-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .skillset {
        width: 48vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills-group-1 {
        font-size: 1em;
        padding-top: 1em;
        /* padding-bottom: 2em; */
    }
    .skills-group-2 {
        font-size: 1em;
        padding-top: 1em;
        /* padding-bottom: 2em; */
    }
    .skills-group-3 {
        display: none;
    }
    .new-skills-group {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .big-links {
        height: 250px;
    }
    .social-media {
        width: 50vh;
    }
    .social-media a {
        width: 85px;
        height: 85px;
    }
    .social-media img {
        width: 45px;
        height: 45px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(./pens667.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .contact-title {
        font-size: 1.5em;
        font: bold;
        color: white;
    }
}


/* SMALL SMARTPHONES */

@media (max-width: 375px) {
    header {
        background-image: url(./pens667.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 280px;
        padding: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    h1 {
        font-size: 1.85em;
        font: bold;
        color: #FFFFFF;
        opacity: 1;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    h2 {
        font-size: 1.2em;
        font: bold;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-bottom: 0.4em;
    }
    .personal-data {
        width: 50vh;
        display: flex;
        justify-content: space-between;
    }
    .surname {
        width: 50%;
        text-align: left;
        margin-top: 3.8em;
    }
    .picture {
        background-image: url(./photo.JPG);
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: white solid 3px;
        background-size: cover;
        margin-top: 5em;
    }
    .top-section {
        height: 200px;
    }
    .section-title {
        font-size: 1.5em;
    }
    .description {
        text-align: center;
        font-size: 1em;
        width: 45vh;
        color: #000000;
        opacity: 1;
    }
    .description img {
        width: 9%;
    }
    .tech {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .projects {
        display: none;
    }
    .additional-grey {
        height: 300px;
        background: #F4F4F4 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .add-section-title {
        display: none;
    }
    .add-links {
        width: 45vh;
    }
    .mobile-section-title {
        font-size: 1.5em;
        font: bold;
        color: white;
        background-color: #F6BC00;
        padding-top: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
    }
    .posts {
        display: none;
    }
    .additional-white {
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills {
        height: 500px;
        background: #F4F4F4 0% 0% no-repeat padding-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .skillset {
        width: 43vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills-group-1 {
        font-size: 1em;
        padding-top: 0.5em;
        padding-bottom: 0em;
    }
    .skills-group-2 {
        font-size: 1em;
        padding-top: 0.5em;
        padding-bottom: 0em;
    }
    .skills-group-3 {
        display: none;
    }
    .new-skills-group {
        font-size: 1em;
        padding-top: 0.6em;
    }
    .big-links {
        height: 220px;
    }
    .social-media {
        width: 50vh;
    }
    .social-media a {
        width: 70px;
        height: 70px;
    }
    .social-media img {
        width: 40px;
        height: 40px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(./pens667.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .contact-title {
        font-size: 1.5em;
        font: bold;
        color: white;
    }
}